body{
    margin: 0 auto;
    max-width: 1920px;
    max-height: 7212px;
}

header{
    max-width: 1920px;
    max-height: 900px;
}

main{
    max-width: 1920px;
    max-height: 5883px;
}

#line_1{
	max-width: 1183px;
    max-height: 76px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0.5em;
}

@media only screen and (min-device-width:600px) and (max-device-width:899px) {
	#line_1{
    padding: 2em 0.5em;
	}
}

#group_1{
    float: left;
    width: 13.8125em;    
}

#name_1{
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 2em;
    line-height: 1.15625em;
    letter-spacing: 0.1875em;
    text-transform: uppercase;
    color: #006D4D;
}

#name_2{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.125em;
    line-height: 1.389em;
    text-align: justify;
    color: #313131;
}


img.icon{
    max-height: 2em;
    float: left;
}

#address{
	display: none;
}

@media only screen and (min-device-width:900px) and (max-device-width:1199px) {
	#address {
    display: block;
    float: left;
    margin-left: 3%;
    overflow: hidden;
    width: 9.5em;
    -webkit-transform: translateY(25%);
        -ms-transform: translateY(25%);
            transform: translateY(25%);
  }
}

@media screen and (min-device-width:1200px) {
	#address {
    display: block;
    float: left;
    margin-left: 22%;
    overflow: hidden;
    width: 10.5625em;
    -webkit-transform: translateY(25%);
        -ms-transform: translateY(25%);
            transform: translateY(25%);
  }
}

#address_1{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.1875em;
    color: #595757;
    float: right;
}

#time{
	display: none;
}


@media screen and (min-device-width:900px) {
	#time {
    display: block;
    float: left;
    margin-left: 7%;
    overflow: hidden;
    width: 10em;
    -webkit-transform: translateY(20%);
        -ms-transform: translateY(20%);
            transform: translateY(20%);
    }
}

#time_1{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1em;
    line-height: 1.375em;
    color: #595757;
    float: right;
}

#phone{
	display: none;
}


@media screen and (min-device-width:600px) {
	#phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    margin-left: 7%;
    overflow: hidden;
    width: 11.75em;
    -webkit-transform: translateY(25%);
        -ms-transform: translateY(25%);
            transform: translateY(25%);
    }
}

#phone_1{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.389em;
    color: #595757;
    width: 8.375em;
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: url('vectors/Polygon 1.png') no-repeat center right;
}

#phone-menu{
	display: none;
}

@media screen and (max-device-width:899px) {
	#phone-menu{
	display: block;
	float: right;
	margin-right: 1em;
    overflow: hidden;
    width: 6em;
    -webkit-transform: translateY(35%);
        -ms-transform: translateY(35%);
            transform: translateY(35%);
    }
}

#menu-label{
	font-family: "Open Sans", Arial, sans-serif;
    font-size: 1em;
    line-height: 1.375em;
    color: #006D4D;
    float: left;
}


a#menu-button{
	float: right;
}

ul#nav-menu{
    display: none;
}


@media screen and (min-device-width:900px) {
	ul#nav-menu{
	max-width: 1220px;
    max-height: 40px;
    margin: 1% auto 0.5% auto; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	}
}

ul#nav-menu li{
    list-style-type: none;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin-right: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

ul#nav-menu li a{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.1875em;
    text-decoration: none;
    border-bottom: none;
    color: #595757;
}

ul#nav-menu li.active a{
    color: #006D4D;
}

#line_2{
    max-width: 1920px;
    max-height: 784px;
}

#mainblock{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 48em;
    width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
}

@media screen and (max-device-width:899px) {
	#mainblock{
    height: 34em;
 	}
}

#left{
    background: #F2FDFF;
    width: 33.33%;
}

#right{
    background: #E7FFF7;
    width: 33.33%;
}

#central{
    background: #F9F9F9;
    width: 33.34%;
    position: relative;
}

#slogan{
    max-width: 1072px;
    max-height: 139px;
    font-family: "Times New Roman", "Times", serif;
    font-weight: bold;
    font-size: 4em;
    line-height: 1.15625em;
    position: absolute;
    z-index: 10000;
    left: 2em;
    right: 2em;
    top: 1.2em;
    bottom: 20em;
    margin: 0 auto;
    width: 55.8%;
}

@media only screen and (min-device-width:900px) and (max-device-width:1199px) {
	#slogan{
		font-size: 3.5em;
		width: 65%;
	}
}

@media only screen and (min-device-width:600px) and (max-device-width:899px) {
	#slogan{
		font-size: 3.5em;
		width: 98%;
		left: 0.1em;
    	right: 0.1em;
	}
}

@media screen and (max-device-width:599px) {
	#slogan{
		font-size: 2.5em;
		width: 98%;
		left: 0.1em;
    	right: 0.1em;
	}
}

img#mainimg{
    position: absolute;
    z-index: 10000;
    margin: auto;
}

@media screen and (min-device-width:900px) {
	img#mainimg{
    width: 47.2%;
    right: 10em;
    bottom: 0em;
    left: 11em;
    top: 15em;
  }
}

@media only screen and (min-device-width:600px) and (max-device-width:899px) {
	img#mainimg{
    width: 67.6%;
    right: 7em;
    bottom: 0em;
    left: 7em;
    top: 15em;
  }
}

@media screen and (max-device-width:599px) {
	img#mainimg{
    width: 95.6%;
    right: 0.5em;
    bottom: 0em;
    left: 0.5em;
    top: 17em;
  }
}

#firstword{
    text-transform: uppercase;
    color: #006D4D;
}

#order{
    background: #FFA953;
    border-radius: 3.125em;
    height: 3.5em;
    width: 16em;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.375em;
    text-align: center;
    color: #FFFFFF;
    border: none;
    position: absolute;
    z-index: 10000;
    left: 2em;
    right: 2em;
    top: 16em;
    bottom: 29em;
    margin: auto;
}

@media screen and (max-device-width:899px) {
	#order{
		bottom: 16em;
	}
}

#block_1{
	max-height: 55em;
	margin-top: -2em;
	overflow-x: hidden;
}

@media only screen and (min-device-width:600px) and (max-device-width:899px) {
	#block_1{
	background: -o-linear-gradient(left top, #F2FDFF, #ffffff, #ffffff);
	background: -webkit-gradient(linear, left top, right bottom, from(#F2FDFF), color-stop(#ffffff), to(#ffffff));
	background: linear-gradient(to right bottom, #F2FDFF, #ffffff, #ffffff);
	}
}

#block_1_left{
	float: left;
	width: 50%;
	background: #F2FDFF;
}

@media screen and (min-device-width:1200px) {
	#block_1_right{
	padding-top: 4em;
	width: 37%;
	margin-left: 55%;
	}
}

@media only screen and (min-device-width:900px) and (max-device-width:1199px) {
	#block_1_right{
	padding-top: 3.5em;	
	width: 95%;
	margin: auto;
	}
}

@media only screen and (min-device-width:600px) and (max-device-width:899px) {
	#block_1_right{
	padding-top: 4em;
	padding-left: 0.5em;		
	width: 99%;
	margin: auto;
	border-radius: 55% 0 0 0;
	background: #ffffff;
	}
}

@media screen and (max-device-width:599px) {
	#block_1_right{
	padding: 0.1em 0.5em;
	padding-left: 0.5em;		
	width: 99%;
	margin: auto;
	}
}


#block_1_right h2{
	font-family: "Times New Roman", "Times", serif;
	font-weight: bold;
	font-size: 2.5em;
	line-height: 1.15em;
	color: #595757;
	width: 84.2%;
}

@media screen and (max-device-width:599px) {
	#block_1_right h2{

	}
}

#block_1_right p{
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #595757;
	width: 98%;
}

img#MaskGroup{
	display: none;
}

@media (min-width:1200px) {
	img#MaskGroup {
    display: block;
    margin-top: 2em;
  }
}